<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hospitalfinalprojectclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalFinalProjectClient">
        <activity android:name=".ActivityClasses.CustomCalendarActivity"></activity>
        <activity android:name=".ActivityClasses.StaffSignUpActivity" />
        <activity android:name=".ActivityClasses.StaffRegisterActivity" />
        <activity android:name=".ActivityClasses.StaffDeleteSickActivity" />
        <activity android:name=".ActivityClasses.StaffInfoAboutSicks" />
        <activity android:name=".ActivityClasses.StaffWorkActivity" />
        <activity android:name=".ActivityClasses.CheckStaffActivity" />
        <activity android:name=".ActivityClasses.SickReportActivity" />
        <activity android:name=".ActivityClasses.SickListRegisterActivity" />
        <activity android:name=".ActivityClasses.SickRegisterActivity" />
        <activity android:name=".ActivityClasses.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>